<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>E-commerce</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* Gradient background */
        }
    </style>
</head>
<body class="flex flex-col min-h-screen">
    {% include "ecom/navbar.html" %} <!-- Navbar -->

    <div class="flex-grow flex items-center justify-center p-4">
        <div class="bg-gray-800 rounded-lg shadow-lg p-10 max-w-lg w-full">
            <form method="post">
                {% csrf_token %}
                <h1 class="text-2xl text-white font-semibold text-center mb-6">Admin Login</h1>

                {% render_field form.username class="form-control block w-full px-4 py-2 mb-4 text-gray-700 bg-gray-900 border border-gray-600 rounded focus:outline-none focus:border-green-400" placeholder="Username" autocomplete="off" %}
                
                {% render_field form.password class="form-control block w-full px-4 py-2 mb-4 text-gray-700 bg-gray-900 border border-gray-600 rounded focus:outline-none focus:border-green-400" placeholder="Password" %}

                <input type="submit" value="Login" class="w-full py-3 bg-green-500 text-white font-semibold rounded hover:bg-green-400 transition duration-200">

                <div class="text-center mt-4 mb-4">
                    <a href="#" class="text-gray-400 hover:underline">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>

    {% include "ecom/footer.html" %} <!-- Footer -->
</body>
</html>
