<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>E-commerce</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-color: #267dd3; /* Background color */
        }
    </style>
</head>
<body class="flex flex-col min-h-screen">
    {% include "ecom/navbar.html" %}  <!-- Navbar -->

    <div class="flex-grow flex items-center justify-center">
        <div class="bg-gray-800 rounded-lg shadow-lg p-12 max-w-lg w-full"> <!-- Increased padding and max-width -->
            <form method="post">
                {% csrf_token %}
                <h1 class="text-3xl text-white font-semibold text-center mb-8">Customer Login</h1> <!-- Increased font size -->

                {% render_field form.username class="form-control block w-full px-4 py-3 mb-4 text-gray-700 bg-gray-900 border border-gray-600 rounded focus:outline-none focus:border-green-400" placeholder="Username" autocomplete="off" %}
                
                {% render_field form.password class="form-control block w-full px-4 py-3 mb-4 text-gray-700 bg-gray-900 border border-gray-600 rounded focus:outline-none focus:border-green-400" placeholder="Password" %}

                <input type="submit" value="Login" class="w-full py-4 bg-green-500 text-white font-semibold rounded hover:bg-green-400 transition duration-200 text-lg"> <!-- Increased button size -->

                <div class="text-center mt-6">
                    <a href="#" class="text-gray-400 hover:underline">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>

    {% include "ecom/footer.html" %}  <!-- Footer -->
</body>
</html>
